$border-color: #DCDCDC;
$link-color: #18A7E3;
$label-color: #717171;
$li-background-odd: #FAFAFA;
$li-background-even: #FFFFFF;
$li-background-hover: #EBEBEB;
$avatar-background: #D4D4D4;
$default-text-color: #494949;
$title-text-color: #424242;